:root {
--color-hover-btn: #DEF2F9;
--color-orig-blue: #22398E;
}

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
}

hr {
    border-top: 1px solid #23398d;
}

::selection{
    color: white;
    background: black;
    content:'';
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.otf);
}



p {
    font-size: 15px;
}

body {
    top: 0 !important;
    font-family: 'Inter';
    font-weight: 400;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.skiptranslate {
    display: none;
    height: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(35, 36, 39);
}

li a:hover,
.header__first a:hover,
h3:hover {
    color: #8bcce3;
    transition: color .3s
}

li a,
.header__first a,
h3,
.header__about-appointment,
.header__nav ul li {
    transition: .3s;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.language__img {
    cursor: pointer;
    width: 25px;
}

.header__first {
    display: grid;
    grid-template-columns: 1.5fr 2.6fr 2.5fr;
}

.header__first-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__first-poisk {
    content: '';
}

.language {
    justify-self: center;
    align-self: center;
}

.header__first-links-center a,
.header__first-links-filial a {
    padding: 13px 35px;
    font-size: 13px;
}

.header__first {
    min-height: 56px;
}

.header__about {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 1.3fr 1fr 1.4fr;
    grid-auto-rows: minmax(132px, auto);
    align-items: center;
    padding: 32px 0;
}

.header__about-consultmorn a,
.header__about-consultevn a {
    font-size: 18px;
    margin-bottom: 7px;
}

.header__about-consultmorn p {
    margin-bottom: 25px;
}

.header__about-consultmorn,
.header__about-consultevn {
    display: flex;
    flex-direction: column;
}

.header__about img {
    width: 187px;
}

.header__about-appointment {
    padding: 10px 40px;
    background-color: #22398E;
    box-shadow: 5px 5px 0px 0px #81CEEA;
    color: white;
    font-size: 15px;
    white-space: nowrap;
}

.header__about-appointment:hover {
    background-color: var(--color-hover-btn);
    color: black;
}

.header__about-app {
    justify-self: center;
}

.header__nav ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav ul li {
    position: relative;
    list-style: none;
    min-height: 46px;
    justify-content: center;
    align-content: center;

}

.header__nav ul li a{
    font-size: 14px;
    padding: 13px 45px;
}

.header__nav ul li :hover{
    border-bottom: 3px solid rgb(13, 13, 139);
}

main{
    flex-grow: 1;
    flex: 1 0 auto;
}

footer {
    background-color: #22398E;
    color: white;
    flex: 0 0 auto;
    margin-top: 45px;
}

footer a {
    color: white;
}

.footer__listinfo {
    display: grid;
    grid-template-columns: 3fr 3fr 2.3fr 1.5fr;
    padding-top: 45px;
    margin-bottom: 45px;
}

.first,
.second,
.third {
    padding-right: 54px;
}

.last {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.last a{
    align-self: flex-end;
    width: fit-content;
    margin-bottom: 15px;
}

.last h3{
    width: fit-content;
}


.footer__listcontainer a {
    color: white;
    font-weight: 400;
    font-size: 15px;
}

.footer__lisrcontainer-button {
    border-bottom: 2px solid white;
    width: fit-content;
    padding: 10px 3px;
    align-content: center;
    justify-content: center;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

.footer__listcontainer-list {
    padding-top: 10px;
}

.footer__listcontainer-list li {
    padding-top: 8px;
}

.footer__contacts {
    display: grid;
    grid-template-columns: 3fr 3fr 2.3fr 1.5fr;
    margin-bottom: 50px;
}

.footer__contactscontainer-addres p {
    font-size: 20px;
}

.footer__contactscontainer-fullname p,
.footer__copyright p,
.footer__copyright a {
    font-size: 13px;
}

.footer__contacts a {
    font-size: 20px;
}

.footer__about-consult {
    margin-top: 10px;
}

.footer__contactscontainer-pochta {
    margin-top: 20px;
}

.footer__copyright {
    display: grid;
    grid-template-columns: 3fr 3fr 2.3fr 1.5fr;
    padding-top: 45px;
    margin-bottom: 45px;
}

.footer__copyright-conf {
    display: flex;
    flex-direction: column;
}

.footer__copyright-conf a:first-child {
    margin-bottom: 10px;
}






.alphabet-title {
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.alphabet-title a {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alphabet-title h2 {
    width: fit-content;
    font-size: 28px;
}

.alphabet__a-ya,
.alphabet__a-z {
    font-size: 18px;
    color: rgb(102, 128, 148);
}

.alphabet__a-ya-a-z {
    margin-top: 25px;
}

.alphabet-list {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 6px;
}

.alphabet-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-weight: bold;
    transition: .1s;
    text-decoration: none;
    color: black;
}

.alphabet-item:hover {
    background-color: var(--color-orig-blue);
    color:white;
}

.search-input {
    padding: 8px 12px;
    font-size: 16px;
    border: 0;
    min-width: 0;
    max-width: 100%;
    border-right: transparent;
    border-radius: 6px 0 0 6px;
    line-height: 1.5;
    margin: 0;
    flex: 1;
}

.search-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.main__search-formcontainer label {
    display: flex;
    flex: 1;
}

.search-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 0 6px 6px 0;
    border: 0;
    background-color: var(--color-orig-blue);
    color: white;
    transition: .3s;
    cursor: pointer;
    padding: 0 6px;
}

.main__search-formcontainer {
    display: flex;
    width: 100%;
    height: 56px;
    max-width: 75%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 25px;
}

.main__search {
padding-bottom: 30px;
}

.search-btn__icon {
    margin-left: 2px;
}

.main__alpha-pop-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.alphabet-container {
    text-align: start;
}
