html{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Deledda';
    src:local('Deledda');
    src: url(./font/Deledda_Closed_Regular.ttf);
}

@font-face{
    font-family: 'Soyuz';
    src:local('Soyuz');
    src: url(./font/Soyuz_Grotesk_Bold.otf);
}

::selection{
    background: darkturquoise;
    content:'';
}


* {
    scrollbar-color: #151515 #3c3c3c;
}
  


*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh !important;
              
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: unset;
    transition: 300ms;
}


.footer__menu-link:hover, .nav:hover{
    /*color:rgb(3, 61, 42);*/
    opacity: 0.8;
    filter: invert(0.2);
}

body{
    font-family: 'Soyuz';
    font-size: 20px;
    font-weight: 800px;
    background-color:rgb(49, 86, 165);
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}


/*.topbg{
    position: absolute;
    background: url(/KURSACH/imgs/outerspace6.gif) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(100px);
    background-attachment: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
}*/

.topbg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: linear-gradient(
        217deg,
        rgba(57, 5, 65, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ), linear-gradient(127deg, rgba(112, 4, 116, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(31, 81, 172, 0.8), rgba(0, 0, 255, 0) 70.71%);
      
    -webkit-box-shadow: 0px 0px 100px 66px rgba(21, 21, 21, 0.26) inset;
    -moz-box-shadow: 0px 0px 100px 66px rgba(21, 21, 21, 0.26) inset;
    box-shadow: 0px 0px 100px 66px rgba(21, 21, 21, 0.26) inset;
}

.menu-r{
    display: flex;
    padding-right: 45px;
}

.menu-l{
    display: flex;
    padding-left: 35px;

}

.header{
    /*background-color: rgb(199, 248, 248);*/
    position: fixed;
    width: 100vw;
}

.header-main{
    background-color: transparent;
}


.container{
    padding: 0 10px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    
}

#header__inner{
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    padding-bottom: 10px;
}

.menu{
    height: 20px;
    margin-left: 75px;
    margin-top: 45px;
}

.list_menu{
    display: flex;
    gap: 35px;
}

.telegram-link{
    height: 40px;
    margin-top: 40px;
    margin-left: 15px;

    border-radius: 100px;
    border: 0px;
    position: relative;


    &::after {
		position: absolute;
        border-radius: 100px;
		top: 0; bottom: 0; right: 0; left: 0;
		background: currentColor;
		content: '';
        mix-blend-mode: difference;
        transform: scale(0);
        transition: transform .3s;
	}

    &:focus { outline: none }
    &:focus, &:hover { &::after { transform: none; } }
}

.telegram-img{
    width: 40px;
    height: 40px;
    filter: invert(1);
}

.logo{
    font-family: 'Deledda';
    font-size: 45px;
    margin:0;
}

.logobox a:hover{
    color:unset;
    opacity: 1;
    filter: none;
}

.logobox{
    margin-top: 25px;
    height: 50px;
}

.footer{
    background-color: rgb(15,15,15);
    padding: 150px 0 32px;
    color:aliceblue;
    position: relative;
    margin: 0 0;
}

.footer__menu{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

.footer__menu-titlle{
    font-size: 26px;
    margin-right: 50px;
    color:  rgb(201, 201, 201);
    font-family: 'Deledda';
}

.footer__menu-space{
    max-width: 400px;
    display: flex;
    margin-left: 70px;
}

.footer__menu-list{
    max-width: 200px;
}

.footer__menu-listing{
    color: rgb(141, 141, 141);
}

.footer__logo{
    margin-right: 40px;
    color:  rgb(141, 141, 141);
}

.main{
    flex-grow: 1;
}

.main__top-intro{
    font-size: 50px;
    margin-bottom: 30px;
}

.footer__menu-list + .footer__menu-list{
    padding-top: 6px;
}

.top{
    margin-top: 25px;
    margin-bottom: 25px;
}

.top .container{
    display: flex;
    flex-direction: column;
}


.obolochka{
    padding: 30px 45px;

    border-radius: 60px 60px 60px 25px;
    
    font-size: 25px;
    background-color:rgba(1, 1, 1, 0.5);
}

.visit{
    color: aliceblue;
    margin-bottom: 30px;
    max-width: 900px;
}

.ghost{
    height: 90px;
    width: 100%;
    background-color: transparent;
}

.about-me{
    margin-top: 75px;
    margin-left: auto;
    padding: 30px 45px;
    max-width: 900px;
    width: 60vw;
    border-radius: 45px 45px 45px 7px;
    font-size: 25px;
    background-color:rgba(255, 255, 255, 0.405);
}
.deledda{
    font-family: 'Deledda';
}
.ya{
    margin-top: 15px;
    font-size: 25px;
}

.button{
    border-radius: 100px;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
	
	&::after {
		position: absolute;
        border-radius: 100px;
		top: 0; bottom: 0; right: 0; left: 0;
		background: currentColor;
		content: '';
        mix-blend-mode: difference;
        transform: scale(0);
        transition: transform .2s;
	}

    &:focus { outline: none }
    &:focus, &:hover { &::after { transform: none; } }
}

.calc{
    max-width: 450px;
    
    margin-top: 38px;
    margin-left: 5px;
}

.black{
    background-color: rgb(15, 15, 15);
}

.white{
    background-color: aliceblue;
}



/*prices*/

.main__tablica{
    background-color:rgba(15, 15, 15, 0.6);
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 60px;
    padding: 20px 30px;
}

.main__tablica-prices{
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
    width: 100%;
    color: aliceblue;
    font-weight: 200;
}

th,
td{

    padding: 15px;
}

.true{
    color: aliceblue;
}

.main__tablica-prices tr td:first-child, .main__tablica-prices tr th:first-child {
    border-left: none;
}

.main__tablica-prices tr td:last-child, .main__tablica-prices tr th:last-child {
	border-right: none;
}

.main__tablica-prices tr th{
    border-top: none;
}

.main__tablica-prices tr td{
    border-bottom: none;
}

.soyuz{
    font-family: 'Soyuz';
}

/*portfolio*/

.main__works{
    margin-top: 45px;
    margin-bottom: 75px; 
}

.work-1, .work-2, .work-3{
    margin-top: 45px;
    padding: 30px;
    border-radius: 60px;
    display: flex;
    max-height: fit-content;
}


.hacky{
    background-color:rgba(168, 159, 110, 0.95);
}

.blue{
    background-color: rgba(42, 115, 132, 0.95);
}

.work-title{
    font-size: 36px;
    margin-bottom: 10px;
}

.work-link{
    max-height: fit-content;
    max-width: 200px;
    color: aliceblue;
    border-radius: 100px;
    position: inherit;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 7px 10px;
    text-align: center;
    font-size: 20px
}

.descript{
    display: flex;
    flex-direction: column;
}

.main__works img{
    height: 40vh;
    max-height: 275px;
    width: auto;
    border-radius: 45px;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.works +.works{
    margin-top: 100px;
}

.work-description{
    font-size: 20px;
    margin-top: 15px;
    margin-left: auto;
    padding: 25px 20px;
    border-radius: 45px 45px 45px 7px;
    background-color:rgba(255, 255, 255, 0.405);
    border: 2px solid rgba(89, 86, 86, 0.7);
}

.about{
    margin-bottom: 175px;
    margin-top: 25px;
    padding: 30px 40px;
    width: fit-content;
    height: fit-content;
    color: aliceblue;
    font-size: 28px;
    background-color: rgba(15, 15, 15, 0.4);
    border-radius: 60px;
}
.emoji:hover{
    cursor: pointer;
}
.fuuu{
    height: 50px;
}

.about a{
    color: #a97cd6;
}

.about a:hover{
    color: #9d40cc;
}


.about-butt{
    margin-top: 35px;
}

.about h3{
    font-size: 50px;
}

.middle{
    margin-top: 75px;
}

.overlay {
    opacity: 0;
    visibility: hidden;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.modal {
   
    
    opacity: 0;
    visibility: hidden;
    
    
    width: 100%;
    max-width: 550px;
    
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    
    
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    padding: 30px;
    border-radius: 25px;
    background: linear-gradient(217deg, rgba(42, 83, 132, 0.99), rgb(87, 36, 130));
    transition: 0.3s all;
    color: aliceblue;

    display: flex;
    flex-direction: column;
}


.active{
    opacity: 1;
    visibility: visible;
}

.polos:before, .polos:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background: rgba(136, 134, 134, 0.7);
}

.polos:before {
    transform: rotate(45deg);
}

.polos:after {

    transform: rotate(-45deg);
}

.polos:hover{
    opacity: .4;
    cursor: pointer;
}

.polos{
    margin-left: auto;
    margin-right: 20px;
}

input[type="text"] {
    line-height: inherit;
    margin: 0;
  }

.modal input, .calc__aside input{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #c0a1df;
    background-clip: padding-box;
    border: 0;
    border-radius: 100px;
    margin-top: 10px;
}
.modal input:focus, .calc__aside input:focus {
    color: #212529;
    background-color:  #cab5e0;
    border-color: #bdbdbd;
    outline: 0;
}

.modal input::placeholder, .calc__aside input::placeholder{
    color: #5f5f5f;
}

.modal label{
    margin-bottom: 20px;
}

.aga{
    margin-top: 25px;
    margin-bottom: 75px;
}
.submit{
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 40px;
    font-family: inherit;
    font-size: inherit;
    border-radius: 100px;
    cursor: pointer;
    border: 0;
    position: relative;
    transition: .2s;
    max-width: 200px;
    background-color: rgb(205, 196, 215);
}

.submit:hover{
    opacity: 0.8;
}


.ButtArr{
    background-color: rgb(205, 196, 215);
    border-radius: 100px;
    border: 0px;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    padding: 5px 10px;
    transition: .2s;
}

.ButtArr:hover{
    cursor: pointer;
    opacity: 0.8;
}


.calculator{     
    
    width: 90%;
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;   
    padding: 30px;
    border-radius:60px;
    background: linear-gradient(217deg, rgba(42, 83, 132, 0.99), rgb(87, 36, 130));
    
    transition: 0.3s all;
    color: aliceblue;

    display: flex;
    justify-content: space-between;
}

.calc__body{
    display: flex;
    flex-direction: row;
    background-color: rgba(15, 15, 15, 0.4);
}

.calc__aside{
    margin-left: 45px;
    display: flex;
    flex-direction: column;
}

.cena-site{

    background-color: #3a0e50;
    padding: 20px 30px;
    border-radius: 45px;

}

.inactive{
    visibility: hidden;
    opacity: 0;
}

.switch-box{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.switch-box + .switch-box{
    margin-left: 30px;
}

.switch-box-box{
    display: flex;
    padding: 5px 7px;
    background-color: #ffffffc1;
    border-radius: 60px;
    color: #141414;
    justify-content: space-between;
}

.switch-box-box + .switch-box-box{
    margin-top: 7px;
}

.switch-box-titlle{
    font-size: 24px;
    margin-bottom: 15px;
}

.checkbox-text{
    font-size: 20px;
    margin-left: 25px;
    display: inline-block;
    max-width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
  
.obolochka
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    width: 45px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(140, 152, 199);
    -webkit-transition: .2s;
    transition: .2s;
}


.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0;
    bottom: 0;
    background-color: rgb(66, 13, 79);
    -webkit-transition: .2s;
    transition: .2s;
    
}
  
input:checked + .slider {
    background-color:#a97cd6;
}
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
}


input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.cena-site span{
    transition: .4s;
}

.calc__submit{
    padding: 5px 10px;
    font-family: inherit;
    font-size: inherit;
    border-radius: 100px;
    cursor: pointer;
    border: 0;
    position: relative;
    transition: .2s;
    background-color: rgb(221, 214, 230);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width:226px;
    height: 60px;
}
.pochta{
    display:flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 30px;
    background-color: #3a0e50;
    padding: 20px 30px;
    border-radius: 45px;
}
